<!-- <img src="<%= rootURL %>" alt=""> -->

<div class="wrapper">
    <div class="pc-left pc-side pc">
        <%- include('./_left.ejs') %>
    </div>
    <div class="contents">
        <div class="l-fix__scrollbar pc js-scrollbar"><i class="current"></i></div>
        <div class="contents-inner">
            <header class="mv sp">
                <%- include('./_top.ejs') %>
            </header>
            <p class="lead ja_m sp fadein">
                この春、ワードローブに加えたいのは<br>
                着回しが効く“カワイイ” アイテム。<br>
                今回は、そんな推せる7型を<br>
                スタイルサンプルとともにご紹介。<br>
                洗えるジャケットからリバーシブルのブラウスまで<br>
                注目の新作をチェックしてみて。                
            </p>
            <div class="anchor_line-animation">
                <span>
                    <img src="<%= rootURL %>/assets/img/anchor_bg.png" alt="">
                </span>
                <span>
                    <img src="<%= rootURL %>/assets/img/anchor_bg.png" alt="">
                </span>
                <span>
                    <img src="<%= rootURL %>/assets/img/anchor_bg.png" alt="">
                </span>
            </div>
            <div class="anchor active a sp">
                <%- include('./_anchor.ejs') %>
            </div>
            <%- include('./_linetxt.ejs') %>
            <main class="main">
                <%- include('./_style1.ejs') %>
                <%- include('./_style2.ejs') %>
                <%- include('./_style3.ejs') %>
                <%- include('./_style4.ejs') %>
                <%- include('./_style5.ejs') %>
                <%- include('./_style6.ejs') %>
                <%- include('./_style7.ejs') %>
            </main>
            <%- include('./_foot.ejs') %>
        </div>
    </div>
    <div class="pc-right pc-side">
        <div class="right_inner anchor">
            <%- include('./_right.ejs') %>
        </div>
    </div>
</div>
<div class="lineup_btn">
    <div class="btn_inner">
        <div class="lineup">Line up</div>
        <div class="batu">
            <img src="<%= rootURL %>/assets/img/batu.png" alt="">
        </div>
    </div>
</div>
<div class="sp-anchor">
    <div class="sp-anchor-inner">
        <%- include('./_sp-anchor.ejs') %>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js"></script>
<script src="<%= rootURL %>/assets/js/index.js"></script>