<!-- <img src="<%= rootURL %>" alt=""> -->

<div class="wrapper">
    <div class="pc-left pc-side pc">
        <%- include('./_left.ejs') %>
    </div>
    <div class="contents">
        <div class="contents-inner">
            <header class="mv sp">
                <%- include('./_top.ejs') %>
            </header>
            <p class="lead ja_m sp">
                マストバイな ”カワイイ” 大本命！<br>
                マストバイな ”カワイイ” 大本命！マストバイな ”<br>
                カワイイ” 大本命！マストバイな ”<br>
                カワイイ” 大本命！<br>
                マストバイな ”カワイイ” 大本命！マストバイな <br>
                マストバイな マストバイな マストバイな 
            </p>
            <div class="anchor sp">
                <%- include('./_anchor.ejs') %>
            </div>
            <%- include('./_linetxt.ejs') %>
            <main>
                <%- include('./_style1.ejs') %>
                <%- include('./_style2.ejs') %>
                <%- include('./_style3.ejs') %>
                <%- include('./_style4.ejs') %>
                <%- include('./_style5.ejs') %>
                <%- include('./_style6.ejs') %>
                <%- include('./_style7.ejs') %>
            </main>
            <%- include('./_foot.ejs') %>
        </div>
    </div>
    <div class="pc-right pc-side">
        <div class="right_inner">
            <%- include('./_right.ejs') %>
        </div>
    </div>
</div>
<div class="lineup_btn">
    <div class="btn_inner">
        <div class="lineup">Line up</div>
        <div class="batu">
            <img src="<%= rootURL %>/assets/img/batu.png" alt="">
        </div>
    </div>
</div>
<div class="sp-anchor">
    <div class="sp-anchor-inner">
    
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js"></script>
<script src="<%= rootURL %>/assets/js/index.js"></script>