<div class="footer_line">
    <a href="https://www.dot-st.com/lowrysfarm/" target="_blank">
        <img src="<%= rootURL %>/assets/img/footer_line.png" alt="">
    </a>
</div>
<footer class="footer">
    <div class="allitem en_r">
        <a href="https://www.dot-st.com/lowrysfarm/" target="_blank">
            ALL Items
            <div class="allitem_arrow">
            </div>
        </a>
    </div>
    <p class="credit en_r">
        ( Staff Credit )
    </p>
    <ul class="en_r credit_list">
        <li>
            <span class="ja_b">PHOTO：</span>
            Takehiro Uochi［TENT］ 
        </li>
        <li>
            <span class="ja_b">DESIGN：</span>
            Tsuyoshi Iwamuro［Rhino］ 
        </li>
        <li>
            <span class="ja_b">DEVELOPMENT：</span>
            Riho Yamamoto［Rhino］ 
        </li>
        <li>
            <span class="ja_b">EDIT：</span>
            Rhino inc.
        </li>
   
    </ul>
    <div class="credit_line sp"></div>
    <div class="sns">
        <div class="x sns_icon">
            <a href="https://x.com/lowrystwit?s=21&t=z30yl_lhgHH8a3mshMpfPw" target="_blank">
                <img src="<%= rootURL %>/assets/img/x.png" alt="">
            </a>
        </div>
        <div class="insta sns_icon">
            <a href="https://www.instagram.com/lowrysfarm_official/?hl=ja" target="_blank">
                <img src="<%= rootURL %>/assets/img/insta.png" alt="">
            </a>
        </div>
        <div class="tiktok sns_icon">
            <a href="https://x.gd/fYMhX" target="_blank">
                <img src="<%= rootURL %>/assets/img/tiktok.png" alt="">
            </a>
        </div>
    </div>
    <div class="lf_logo sp">
        <a href="https://t.co/RHBjFVnkQj" target="_blank">
            <img src="<%= rootURL %>/assets/img/logo.png" alt="">
        </a>
    </div>

    <p class="copyright">
        Copyright © Adastria Co., Ltd. All rights reserved.
    </p>
</footer>