<div class="footer_line">
    <img src="<%= rootURL %>/assets/img/footer_line.png" alt="">
</div>
<footer class="footer">
    <div class="allitem en_r">
        <a href="" target="_blank">
            ALL Items
            <div class="allitem_arrow">
            </div>
        </a>
    </div>
    <p class="credit en_r">
        ( Staff Credit )
    </p>
    <ul class="en_r credit_list">
        <li>
            <span class="ja_b">DIRECTION :</span>
            YUJI YOSHIDA / TAKA WAIDA
        </li>
        <li>
            <span class="ja_b">PHOTOGRAPHY :</span>
            Masaya Tanaka (TRON)
        </li>
        <li>
            <span class="ja_b">STYLING :</span>
            YUJI YOSHIDA / TAKA WAIDA
        </li>
        <li>
            <span class="ja_b">PHOTOGRAPHY :</span>
            Masaya Tanaka (TRON)
        </li>
        <li>
            <span class="ja_b">DIRECTION :</span>
            YUJI YOSHIDA / TAKA WAIDA
        </li>
    </ul>
    <div class="credit_line sp"></div>
    <div class="sns">
        <div class="x sns_icon">
            <a href="" target="_blank">
                <img src="<%= rootURL %>/assets/img/x.png" alt="">
            </a>
        </div>
        <div class="insta sns_icon">
            <a href="" target="_blank">
                <img src="<%= rootURL %>/assets/img/insta.png" alt="">
            </a>
        </div>
        <div class="tiktok sns_icon">
            <a href="" target="_blank">
                <img src="<%= rootURL %>/assets/img/tiktok.png" alt="">
            </a>
        </div>
    </div>
    <div class="lf_logo sp">
        <a href="" target="_blank">
            <img src="<%= rootURL %>/assets/img/logo.png" alt="">
        </a>
    </div>

    <p class="copyright">
        Copyright © Adastria Co., Ltd. All rights reserved.
    </p>
</footer>