

<div class="left-inner">

    <div class="top_wrap">
        <div class="ttl_wrap">
            <span class="ttl_line">
                <img src="<%= rootURL %>/assets/img/ttl_line.png" alt="">
            </span>
            <div class="ttl_above">
                <div class="ttl_1">
                    <img src="<%= rootURL %>/assets/img/ttl1.png" alt="">
                </div>
                <div class="ttl_2">
                    <img src="<%= rootURL %>/assets/img/ttl2.png" alt="">
                </div>
            </div>
            <div class="ttl_3">
                <img src="<%= rootURL %>/assets/img/ttl3.png" alt="">
            </div>
            <span class="ttl_line">
                <img src="<%= rootURL %>/assets/img/ttl_line.png" alt="">
            </span>
        </div>

        <div class="seven_select">
            <div class="seven">
                <img src="<%= rootURL %>/assets/img/7.png" alt="">
            </div>
            <div class="select">
                <img src="<%= rootURL %>/assets/img/select.png" alt="">
            </div>
        </div>
    </div>
    <p class="subttl en_b">
        Find  My Favorite  <span class="en_m">for</span>  Spring
    </p>
    <div class="mv_circle">
        <img src="<%= rootURL %>/assets/img/top_bg.png" alt="">
    </div>
    <div class="mv_ph">
        <img src="<%= rootURL %>/assets/img/pc_mv.png" alt="">
    </div>
    <div class="mv_txt">
        <img src="<%= rootURL %>/assets/img/pc_mvttl.png" alt="">
    </div>
</div>

<div class="left_logo">
    <a href="" target="_blank">
        <img src="<%= rootURL %>/assets/img/logo.png" alt="">
    </a>
</div>
<div class="left_sns">
    <div class="pc_x sns_icon">
        <a href="" target="_blank">
            <img src="<%= rootURL %>/assets/img/pc_x.png" alt="">
        </a>
    </div>
    <div class="pc_insta sns_icon">
        <a href="" target="_blank">
            <img src="<%= rootURL %>/assets/img/pc_insta.png" alt="">
        </a>
    </div>
    <div class="pc_tiktok sns_icon">
        <a href="" target="_blank">
            <img src="<%= rootURL %>/assets/img/pc_tiktok.png" alt="">
        </a>
    </div>
</div>