
<p class="sp-acnhor_ttl en_r">
    All Item Line Up 
</p>
<ul class="sp-anchor_list">
    <li class="sp-anchor_1">
        <a href="#style_1"> 
            <div class="sp-anchor_inner">
                <img class="sp-anchor_circle" src="<%= rootURL %>/assets/img/anchor_circle.png" alt="">
                <div class="sp-anchor_numbg">
                    <p class="sp-anchor_num en_m">
                        01
                    </p> 
                </div>
                <div class="anchor_slash"></div>
                <div class="sp-anchor_item">
                    <img src="<%= rootURL %>/assets/img/anchor_1.png" alt="">
                </div>
            </div>
            <p class="sp-anchor_name">
                アラエルダブルジャケット
            </p>

        </a>
    </li>
    <li class="sp-anchor_2">
        <a href="#style_2">
            <div class="sp-anchor_inner">
                <img class="sp-anchor_circle" src="<%= rootURL %>/assets/img/anchor_circle.png" alt="">
                <div class="sp-anchor_numbg">
                <p class="sp-anchor_num en_m">
                    02
                </p> 
                </div>
                <div class="anchor_slash"></div>
                <div class="sp-anchor_item">
                    <img src="<%= rootURL %>/assets/img/anchor_2.png" alt="">
                </div>
            </div>
            <p class="sp-anchor_name">
                ノンアイロンワイドパンツ
            </p>
        </a>
    </li>
    <li class="sp-anchor_3">
        <a href="#style_3"> 
            <div class="sp-anchor_inner">
                <img class="sp-anchor_circle" src="<%= rootURL %>/assets/img/anchor_circle.png" alt="">
                <div class="sp-anchor_numbg">
                    <p class="sp-anchor_num en_m">
                        03
                    </p> 
                </div>
                <div class="anchor_slash"></div>
                <div class="sp-anchor_item">
                    <img src="<%= rootURL %>/assets/img/anchor_3.png" alt="">
                </div>
            </div>
            <p class="sp-anchor_name">
                カクセルチュニックベスト
            </p>

        </a>
    </li>
    <li class="sp-anchor_4">
        <a href="#style_4">
            <div class="sp-anchor_inner">
                <img class="sp-anchor_circle" src="<%= rootURL %>/assets/img/anchor_circle.png" alt="">
                <div class="sp-anchor_numbg">
                <p class="sp-anchor_num en_m">
                    04
                </p> 
                </div>
                <div class="anchor_slash"></div>
                <div class="sp-anchor_item">
                    <img src="<%= rootURL %>/assets/img/anchor_4.png" alt="">
                </div>
            </div>
            <p class="sp-anchor_name">
                シアーシャツLS
            </p>
        </a>
    </li>
    <li class="sp-anchor_5">
        <a href="#style_5"> 
            <div class="sp-anchor_inner">
                <img class="sp-anchor_circle" src="<%= rootURL %>/assets/img/anchor_circle.png" alt="">
                <div class="sp-anchor_numbg">
                    <p class="sp-anchor_num en_m">
                        05
                    </p> 
                </div>
                <div class="anchor_slash"></div>
                <div class="sp-anchor_item">
                    <img src="<%= rootURL %>/assets/img/anchor_5.png" alt="">
                </div>
            </div>
            <p class="sp-anchor_name">
                ヨウリュウシャーリング<br>ブラウス
            </p>

        </a>
    </li>
    <li class="sp-anchor_6">
        <a href="#style_6">
            <div class="sp-anchor_inner">
                <img class="sp-anchor_circle" src="<%= rootURL %>/assets/img/anchor_circle.png" alt="">
                <div class="sp-anchor_numbg">
                <p class="sp-anchor_num en_m">
                    06
                </p> 
                </div>
                <div class="anchor_slash"></div>
                <div class="sp-anchor_item">
                    <img src="<%= rootURL %>/assets/img/anchor_6.png" alt="">
                </div>
            </div>
            <p class="sp-anchor_name">
                アシメフリルギャザー<br>
                ブラウス
            </p>
        </a>
    </li>
    <li class="sp-anchor_7">
        <a href="#style_7">
            <div class="sp-anchor_inner">
                <img class="sp-anchor_circle" src="<%= rootURL %>/assets/img/anchor_circle.png" alt="">
                <div class="sp-anchor_numbg">
                <p class="sp-anchor_num en_m">
                    07
                </p> 
                </div>
                <div class="anchor_slash"></div>
                <div class="sp-anchor_item">
                    <img src="<%= rootURL %>/assets/img/anchor_7.png" alt="">
                </div>
            </div>
            <p class="sp-anchor_name">
                ワイドストレートデニムパンツ
            </p>
        </a>
    </li>
    <li class="sp-closebtn">
        <div class="close_flex">
            <div class="close en_m">
                Close
            </div>
            <div class="close_cross">
            </div>
        </div>
    </li>
</ul>
