
<p class="acnhor_ttl en_m">
    All Item Line Up 
</p>
<div class="acnhor_arrow">
    <div class="arrow arrow_1"></div>
    <div class="arrow arrow_2"></div>
</div>
<ul class="anchor_list">
    <li class="anchor_1">
        <a href="#style_1"> 
            <div class="anchor_inner">
                <img class="anchor_circle" src="<%= rootURL %>/assets/img/anchor_circle.png" alt="">
                <div class="anchor_numbg">
                    <p class="anchor_num">
                        01
                    </p> 
                </div>
                <div class="anchor_slash"></div>
                <div class="anchor_item">
                    <img src="<%= rootURL %>/assets/img/anchor_1.png" alt="">
                </div>
            </div>
            <p class="anchor_name">
                アラエルダブルジャケット<br>
                <span>¥8,800</span>
            </p>

        </a>
    </li>
    <li class="anchor_2">
        <a href="#style_2">
            <div class="anchor_inner">
                <img class="anchor_circle" src="<%= rootURL %>/assets/img/anchor_circle.png" alt="">
                <div class="anchor_numbg">
                <p class="anchor_num">
                    02
                </p> 
                </div>
                <div class="anchor_slash"></div>
                <div class="anchor_item">
                    <img src="<%= rootURL %>/assets/img/anchor_2.png" alt="">
                </div>
            </div>
            <p class="anchor_name">
                ノンアイロンワイドパンツ<br>
                <span>¥6,600</span>
            </p>
        </a>
    </li>
    <li class="anchor_3">
        <a href="#style_3"> 
            <div class="anchor_inner">
                <img class="anchor_circle" src="<%= rootURL %>/assets/img/anchor_circle.png" alt="">
                <div class="anchor_numbg">
                    <p class="anchor_num">
                        03
                    </p> 
                </div>
                <div class="anchor_slash"></div>
                <div class="anchor_item">
                    <img src="<%= rootURL %>/assets/img/anchor_3.png" alt="">
                </div>
            </div>
            <p class="anchor_name">
                カクセルチュニックベスト<br>
                <span>¥6,600</span>
            </p>

        </a>
    </li>
    <li class="anchor_4">
        <a href="#style_4">
            <div class="anchor_inner">
                <img class="anchor_circle" src="<%= rootURL %>/assets/img/anchor_circle.png" alt="">
                <div class="anchor_numbg">
                <p class="anchor_num">
                    04
                </p> 
                </div>
                <div class="anchor_slash"></div>
                <div class="anchor_item">
                    <img src="<%= rootURL %>/assets/img/anchor_4.png" alt="">
                </div>
            </div>
            <p class="anchor_name">
                シアーシャツLS<br>
                <span>¥4,400</span>
            </p>
        </a>
    </li>
    <li class="anchor_5">
        <a href="#style_5"> 
            <div class="anchor_inner">
                <img class="anchor_circle" src="<%= rootURL %>/assets/img/anchor_circle.png" alt="">
                <div class="anchor_numbg">
                    <p class="anchor_num">
                        05
                    </p> 
                </div>
                <div class="anchor_slash"></div>
                <div class="anchor_item">
                    <img src="<%= rootURL %>/assets/img/anchor_5.png" alt="">
                </div>
            </div>
            <p class="anchor_name">
                ヨウリュウシャーリング<br>
                ブラウス<br>
                <span>¥6,050</span>
            </p>

        </a>
    </li>
    <li class="anchor_6">
        <a href="#style_6">
            <div class="anchor_inner">
                <img class="anchor_circle" src="<%= rootURL %>/assets/img/anchor_circle.png" alt="">
                <div class="anchor_numbg">
                <p class="anchor_num">
                    06
                </p> 
                </div>
                <div class="anchor_slash"></div>
                <div class="anchor_item">
                    <img src="<%= rootURL %>/assets/img/anchor_6.png" alt="">
                </div>
            </div>
            <p class="anchor_name">
                アシメフリルギャザー<br>
                ブラウス<br>
                <span>¥6,600</span>
            </p>
        </a>
    </li>
    <li class="anchor_7">
        <a href="#style_7">
            <div class="anchor_inner">
                <img class="anchor_circle" src="<%= rootURL %>/assets/img/anchor_circle.png" alt="">
                <div class="anchor_numbg">
                <p class="anchor_num">
                    07
                </p> 
                </div>
                <div class="anchor_slash"></div>
                <div class="anchor_item">
                    <img src="<%= rootURL %>/assets/img/anchor_7.png" alt="">
                </div>
            </div>
            <p class="anchor_name">
                ワイドストレートデニムパンツ<br>
                <span>¥8,800</span>
            </p>
        </a>
    </li>
    <li class="seven_link">
        <a href="" target="_blank">
            <div class="check">
                <img src="<%= rootURL %>/assets/img/top_check.png" alt="">
            </div>
        </a>
    </li>
</ul>
