<section class="style style_4" id="style_4">
    <div class="style_num en_m">
        <div class="style_numwrap">
            <span class="num_item ja_b">
                ITEM
            </span>
            <span class="number">
                04
            </span>
        </div>
    </div>
    <div class="num_line"></div>
    <div class="item_inner">
        <div class="item_bg">
            <img src="<%= rootURL %>/assets/img/bg_2.png" alt="">
        </div>
        <div class="itemph">
            <img src="<%= rootURL %>/assets/img/style_4.png" alt="">
        </div>
        <div class="item_detail fadein">
            <p class="item_en_name ja_b">
                Sheer Shirt LS
            </p>
            <p class="item_ja_name ja_m">
                シアーシャツLS
            </p>
            <p class="item_price ja_b">
                ¥5,500
            </p>
            <div class="item_buy en_r">
                <a href="https://www.dot-st.com/lowrysfarm/disp/item/231459/" target="_blank">
                    BUY
                </a>
            </div>
        </div>
        <p class="item_txt fadein ja_m">
            程よい透け感のあるシアー素材のベーシックなシャツ。滑らかな風合いでゆとりがあり、通気性も高いので快適に過ごせるアイテムです。クロップド丈と腰回りが隠れる丈の2サイズ展開。
        </p>

        <div class="styling styling1 active style4-1">
            <div class="style_inner">
                <div class="stylenum stylenum1">
                    <img src="<%= rootURL %>/assets/img/num1.png" alt="">
                </div>
                <div class="styleph styleph4-1">
                    <img src="<%= rootURL %>/assets/img/style4-1.png" alt="">
                </div>
                <div class="pop_wrap">
                    <p class="style_pop style_pop1 ">
                        <img src="<%= rootURL %>/assets/img/style_pop4-1.png" alt="">
                    </p>
                    <p class="style_pop style_pop2 ">
                        <img src="<%= rootURL %>/assets/img/style_pop4-2.png" alt="">
                    </p>
                </div>
                <div class="style_line">
                    <img src="<%= rootURL %>/assets/img/line.png" alt="">
                </div>
                <ul class="style_info fadein">
                    <li>
                        <div class="style_name-price ja_m">
                            シアーシャツLS<br>
                            <span class="ja_b">
                                ¥5,500
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/231459/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            USAベーシックタンク<br>
                            <span class="ja_b">
                                ¥2,090
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/267044/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            スソフリルシャーリングスカート<br>
                            <span class="ja_b">
                                ¥6,990
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/310173/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            LFリングツキキンチャクショルダー<br>
                            <span class="ja_b">
                                ¥4,400
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/288115/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            サッカーシューズ<br>
                            <span class="ja_b">
                                ¥6,290
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/284425/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="styling styling2 active style4-2">
            <div class="style_inner">
                <div class="stylenum stylenum2">
                    <img src="<%= rootURL %>/assets/img/num2.png" alt="">
                </div>
                <div class="styleph styleph4-2">
                    <img src="<%= rootURL %>/assets/img/style4-2.png" alt="">
                </div>
                <div class="pop_wrap">
                    <p class="style_pop style_pop1">
                        <img src="<%= rootURL %>/assets/img/style_pop4-3.png" alt="">
                    </p>
                    <p class="style_pop style_pop2">
                        <img src="<%= rootURL %>/assets/img/style_pop4-4.png" alt="">
                    </p>
                </div>
                <div class="style_line">
                    <img src="<%= rootURL %>/assets/img/line.png" alt="">
                </div>
                <ul class="style_info fadein">
                    <li>
                        <div class="style_name-price ja_m">
                            フリルビスチェ<br>
                            <span class="ja_b">
                                ¥4,990
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/252717/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            シアーシャツＬＳ<br>
                            <span class="ja_b">
                                ¥5,500
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/231459/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            ホップサックワイドパンツ<br>
                            <span class="ja_b">
                                ¥6,600
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/242754/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            EYEWEAR<br>
                            <span class="ja_b">
                                ¥3,850
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/182184/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            シースルーバレーシューズ<br>
                            <span class="ja_b">
                                ¥5,990
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/302709/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>