<section class="style style_5" id="style_5">
    <div class="style_num en_m">
        <div class="style_numwrap">
            <span class="num_item ja_b">
                ITEM
            </span>
            <span class="number">
                05
            </span>
        </div>
    </div>
    <div class="num_line"></div>
    <div class="item_inner">
        <div class="item_wrap">
            <div class="item_bg">
                <img src="<%= rootURL %>/assets/img/bg_1.png" alt="">
            </div>
            <div class="itemph">
                <img src="<%= rootURL %>/assets/img/style_5.png" alt="">
            </div>
            <div class="item_detail fadein">
                <p class="item_en_name ja_b">
                    Yangliu Shirring Blouse
                </p>
                <p class="item_ja_name ja_m">
                    ヨウリュウシャーリングブラウス
                </p>
                <p class="item_price ja_b">
                    ¥6,050
                </p>
                <div class="item_buy en_r">
                    <a href="https://www.dot-st.com/lowrysfarm/disp/item/289336/" target="_blank">
                        BUY
                    </a>
                </div>
            </div>
            <p class="item_txt fadein ja_m">
                シャーリングリボンのデザインが新鮮なブラウスは、前後2WAYで着用可能。その日の気分によって様々なコーディネートが楽しめます。程よいゆとりと落ち感も魅力のひとつ。
            </p>
        </div>

        <div class="styling styling1 active style5-1">
            <div class="style_inner">
                <div class="stylenum stylenum1">
                    <img src="<%= rootURL %>/assets/img/num1.png" alt="">
                </div>
                <div class="styleph styleph5-1">
                    <img src="<%= rootURL %>/assets/img/style5-1.png" alt="">
                </div>
                <div class="pop_wrap">
                    <p class="style_pop style_pop1 ja_m">
                        <img src="<%= rootURL %>/assets/img/style_pop5-1.png" alt="">
                    </p>
                    <p class="style_pop style_pop2 ja_m">
                        <img src="<%= rootURL %>/assets/img/style_pop5-2.png" alt="">
                    </p>
                </div>
                <div class="style_line active">
                    <img src="<%= rootURL %>/assets/img/line.png" alt="">
                </div>
                <ul class="style_info fadein">
                    <li>
                        <div class="style_name-price ja_m">
                            ヨウリュウシャーリング<br>ショートブラウス<br>
                            <span class="ja_b">
                                ¥6,050
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/289336/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            スタイルUPクロスカップキャミ<br>
                            <span class="ja_b">
                                ¥3,190
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/100757/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            カットイージーコクーンパンツ<br>
                            <span class="ja_b">
                                ¥6,600
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/292362/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            4ROOMショルダーBAG<br>
                            <span class="ja_b">
                                ¥6,089
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/138730/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            カラースニーカー<br>
                            <span class="ja_b">
                                ¥6,290
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/290260/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="styling styling2 active style5-2">
            <div class="style_inner">
                <div class="stylenum stylenum2">
                    <img src="<%= rootURL %>/assets/img/num2.png" alt="">
                </div>
                <div class="styleph styleph5-2">
                    <img src="<%= rootURL %>/assets/img/style5-2.png" alt="">
                </div>
                <div class="pop_wrap">
                    <p class="style_pop style_pop1 ja_m">
                        <img src="<%= rootURL %>/assets/img/style_pop5-3.png" alt="">
                    </p>
                    <p class="style_pop style_pop2 ja_m">
                        <img src="<%= rootURL %>/assets/img/style_pop5-4.png" alt="">
                    </p>
                </div>
                <div class="style_line active">
                    <img src="<%= rootURL %>/assets/img/line.png" alt="">
                </div>
                <ul class="style_info fadein">
                    <li>
                        <div class="style_name-price ja_m">
                            ヨウリュウシャーリング<br>ショートブラウス<br>
                            <span class="ja_b">
                                ¥6,050
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/289336/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            USAベーシックタンク<br>
                            <span class="ja_b">
                                ¥2,090
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/267044/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            ワイドストレートデニムパンツ<br>
                            <span class="ja_b">
                                ¥8,800
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/252605/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            EYEWEAR<br>
                            <span class="ja_b">
                                ¥3,300
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/128533/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            ホソカラービーズネックレス<br>
                            <span class="ja_b">
                                ¥1,390
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/291590/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            2SETショルダーBAG<br>
                            <span class="ja_b">
                                ¥5,500
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/284413/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            ベルトフラットシューズ<br>
                            <span class="ja_b">
                                ¥4,990
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/283805/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>