<section class="style style_2" id="style_2">
    <div class="style_num en_m">
        <div class="style_numwrap">
            <span class="num_item ja_b">
                ITEM
            </span>
            <span class="number">
                02
            </span>
        </div>
    </div>
    <div class="num_line"></div>
    <div class="item_inner">
        <div class="item_bg">
            <img src="<%= rootURL %>/assets/img/bg_2.png" alt="">
        </div>
        <div class="itemph">
            <img src="<%= rootURL %>/assets/img/style_2.png" alt="">
        </div>
        <div class="icon">
            <img src="<%= rootURL %>/assets/img/icon_2.png" alt="">
        </div>
        <div class="item_detail">
            <p class="item_en_name ja_b">
                No-iron Wide Pants
            </p>
            <p class="item_ja_name ja_m">
                ノンアイロンワイドパンツ
            </p>
            <p class="item_price ja_b">
                ¥6,600
            </p>
            <div class="item_buy en_r">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
        <p class="item_txt ja_m">
            軽やかで通気性が高く、ドライタッチな風合いで暑い時期でもさらりとした穿き心地が楽しめるワイドパンツ。洗濯してもシワになりにくく、取り扱いが簡単なのもうれしいポイント。※グリーンのみ4月上旬入荷予定
        </p>

        <div class="styling style2-1">
            <div class="style_inner">
                <div class="stylenum stylenum1">
                    <img src="<%= rootURL %>/assets/img/num1.png" alt="">
                </div>
                <div class="styleph styleph2-1">
                    <img src="<%= rootURL %>/assets/img/style2-1.png" alt="">
                </div>
                <p class="style_pop style_pop1 ja_m">
                    セットアップスタイルは
                </p>
                <p class="style_pop style_pop2 ja_m">
                    ラップスカートで斬新に
                </p>
                <div class="style_line">
                    <img src="<%= rootURL %>/assets/img/line.png" alt="">
                </div>
                <ul class="style_info">
                    <li>
                        <div class="style_name-price ja_m">
                            アラエルジャケット<br>
                            <span class="ja_b">
                                ¥6,000
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            アラエルジャケット<br>
                            <span class="ja_b">
                                ¥6,000
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            アラエルジャケット<br>
                            <span class="ja_b">
                                ¥6,000
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            アラエルジャケット<br>
                            <span class="ja_b">
                                ¥6,000
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="styling style2-2">
            <div class="style_inner">
                <div class="stylenum stylenum2">
                    <img src="<%= rootURL %>/assets/img/num2.png" alt="">
                </div>
                <div class="styleph styleph2-2">
                    <img src="<%= rootURL %>/assets/img/style2-2.png" alt="">
                </div>
                <p class="style_pop style_pop1 ja_m">
                    セットアップスタイルは
                </p>
                <p class="style_pop style_pop2 ja_m">
                    ラップスカートで斬新に
                </p>
                <div class="style_line">
                    <img src="<%= rootURL %>/assets/img/line.png" alt="">
                </div>
                <ul class="style_info">
                    <li>
                        <div class="style_name-price ja_m">
                            アラエルジャケット<br>
                            <span class="ja_b">
                                ¥6,000
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            アラエルジャケット<br>
                            <span class="ja_b">
                                ¥6,000
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            アラエルジャケット<br>
                            <span class="ja_b">
                                ¥6,000
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            アラエルジャケット<br>
                            <span class="ja_b">
                                ¥6,000
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>