<section class="style style_3" id="style_3">
    <div class="style_num en_m">
        <div class="style_numwrap">
            <span class="num_item ja_b">
                ITEM
            </span>
            <span class="number">
                03
            </span>
        </div>
    </div>
    <div class="num_line"></div>
    <div class="item_inner">
        <div class="item_bg">
            <img src="<%= rootURL %>/assets/img/bg_1.png" alt="">
        </div>
        <div class="itemph">
            <img src="<%= rootURL %>/assets/img/style_3.png" alt="">
        </div>
        <div class="icon">
            <img src="<%= rootURL %>/assets/img/icon_3.png" alt="">
        </div>
        <div class="item_detail">
            <p class="item_en_name ja_b">
                Tunic Vest
            </p>
            <p class="item_ja_name ja_m">
                カクセルチュニックベスト
            </p>
            <p class="item_price ja_b">
                ¥6,600
            </p>
            <div class="item_buy en_r">
                <a href="https://www.dot-st.com/lowrysfarm/disp/item/243341/" target="_blank">
                    BUY
                </a>
            </div>
        </div>
        <p class="item_txt ja_m">
            ウエストで切り替えたペプラムデザインが目を引くチュニックベストは、お腹まわりを自然にカバーしてくれる一着。同素材のアイテムとセットアップでのコーディネートもおすすめです。※グリーンのみ4月上旬入荷予定
        </p>

        <div class="styling style3-1">
            <div class="style_inner">
                <div class="stylenum stylenum1">
                    <img src="<%= rootURL %>/assets/img/num1.png" alt="">
                </div>
                <div class="styleph styleph3-1">
                    <img src="<%= rootURL %>/assets/img/style3-1.png" alt="">
                </div>
                <div class="pop_wrap">
                    <p class="style_pop style_pop1 ja_m">
                        <img src="<%= rootURL %>/assets/img/style_pop3-1.png" alt="">
                    </p>
                    <p class="style_pop style_pop2 ja_m">
                        <img src="<%= rootURL %>/assets/img/style_pop3-2.png" alt="">
                    </p>
                </div>
                <div class="style_line">
                    <img src="<%= rootURL %>/assets/img/line.png" alt="">
                </div>
                <ul class="style_info">
                    
                    <li>
                        <div class="style_name-price ja_m">
                            カクセルチュニックベスト<br>
                            <span class="ja_b">
                                ¥6,600
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/243341/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            シアーメロータイトLS<br>
                            <span class="ja_b">
                                ¥3,990
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/291979/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            シアーチェックワイドパンツ<br>
                            <span class="ja_b">
                                ¥7,150
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/242754/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            スエード2レンチョーカー<br>
                            <span class="ja_b">
                                ¥1,690
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/291580/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            4ROOMショルダーBAG<br>
                            <span class="ja_b">
                                ¥6,089
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/138730/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            カラースニーカー<br>
                            <span class="ja_b">
                                ¥6,290
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/290260/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="styling style3-2">
            <div class="style_inner">
                <div class="stylenum stylenum2">
                    <img src="<%= rootURL %>/assets/img/num2.png" alt="">
                </div>
                <div class="styleph styleph3-2">
                    <img src="<%= rootURL %>/assets/img/style3-2.png" alt="">
                </div>
                <div class="pop_wrap">
                    <p class="style_pop style_pop1 ja_m">
                        <img src="<%= rootURL %>/assets/img/style_pop3-3.png" alt="">
                    </p>
                    <p class="style_pop style_pop2 ja_m">
                        <img src="<%= rootURL %>/assets/img/style_pop3-4.png" alt="">
                    </p>
                </div>
                <div class="style_line">
                    <img src="<%= rootURL %>/assets/img/line.png" alt="">
                </div>
                <ul class="style_info">
                    <li>
                        <div class="style_name-price ja_m">
                            ホップサックショートジャケット<br>
                            <span class="ja_b">
                                ¥8,490
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/243700/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            カクセルチュニックベスト<br>
                            <span class="ja_b">
                                ¥6,600
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/243341/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            スタイルUPカップバンドゥ<br>
                            <span class="ja_b">
                                ¥3,490
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/145533/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            スソフリルシャーリングスカート<br>
                            <span class="ja_b">
                                ¥6,990
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/310173/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            コードMIXリボンネックレス<br>
                            <span class="ja_b">
                                ¥1,390
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/323542/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            LFショルダーBAG<br>
                            <span class="ja_b">
                                ¥5,500
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/308293/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            ポインテッドミュール<br>
                            <span class="ja_b">
                                ¥5,990 
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/287445/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</section>