<section class="style style_2" id="style_2">
    <div class="style_num en_m">
        <div class="style_numwrap">
            <span class="num_item ja_b">
                ITEM
            </span>
            <span class="number">
                02
            </span>
        </div>
    </div>
    <div class="num_line"></div>
    <div class="item_inner">
        <div class="item_bg">
            <img src="<%= rootURL %>/assets/img/bg_2.png" alt="">
        </div>
        <div class="itemph">
            <img src="<%= rootURL %>/assets/img/style_2.png" alt="">
        </div>
        <div class="icon fadein">
            <img src="<%= rootURL %>/assets/img/icon_2.png" alt="">
        </div>
        <div class="item_detail fadein">
            <p class="item_en_name ja_b">
                No-iron Wide Pants
            </p>
            <p class="item_ja_name ja_m">
                ノンアイロンワイドパンツ
            </p>
            <p class="item_price ja_b">
                ¥6,600
            </p>
            <div class="item_buy en_r">
                <a href="https://www.dot-st.com/lowrysfarm/disp/item/242754/" target="_blank">
                    BUY
                </a>
            </div>
        </div>
        <p class="item_txt fadein ja_m">
            軽やかで通気性が高く、ドライタッチな風合いで暑い時期でもさらりとした穿き心地が楽しめるワイドパンツ。洗濯してもシワになりにくく、取り扱いが簡単なのもうれしいポイント。※グリーンのみ4月上旬入荷予定
        </p>

        <div class="styling styling1 active style2-1">
            <div class="style_inner">
                <div class="stylenum stylenum1">
                    <img src="<%= rootURL %>/assets/img/num1.png" alt="">
                </div>
                <div class="styleph styleph2-1">
                    <img src="<%= rootURL %>/assets/img/style2-1.png" alt="">
                </div>
                <div class="pop_wrap">
                    <p class="style_pop style_pop1">
                        <img src="<%= rootURL %>/assets/img/style_pop2-1.png" alt="">
                    </p>
                    <p class="style_pop style_pop2">
                        <img src="<%= rootURL %>/assets/img/style_pop2-2.png" alt="">
                    </p>
                </div>
                <div class="style_line">
                    <img src="<%= rootURL %>/assets/img/line.png" alt="">
                </div>
                <ul class="style_info fadein">
                    <li>
                        <div class="style_name-price ja_m">
                            キャミ2PセットLS<br>
                            <span class="ja_b">
                                ¥4,950
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/292191/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            ノンアイロンワイドパンツ<br>
                            <span class="ja_b">
                                ¥6,600
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/242754/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            カラービーズネックレス<br>
                            <span class="ja_b">
                                ¥1,390
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/291589/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            LFリングツキキンチャクショルダー<br>
                            <span class="ja_b">
                                ¥4,400
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/288115/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            シースルーバレエシューズ<br>
                            <span class="ja_b">
                                ¥5,990
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/302709/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="styling styling2 active style2-2">
            <div class="style_inner">
                <div class="stylenum stylenum2">
                    <img src="<%= rootURL %>/assets/img/num2.png" alt="">
                </div>
                <div class="styleph styleph2-2">
                    <img src="<%= rootURL %>/assets/img/style2-2.png" alt="">
                </div>
                <div class="pop_wrap">
                    <p class="style_pop style_pop1 ">
                        <img src="<%= rootURL %>/assets/img/style_pop2-3.png" alt="">
                    </p>
                    <p class="style_pop style_pop2">
                        <img src="<%= rootURL %>/assets/img/style_pop2-4.png" alt="">
                    </p>
                </div>
                <div class="style_line">
                    <img src="<%= rootURL %>/assets/img/line.png" alt="">
                </div>
                <ul class="style_info fadein">
                    <li>
                        <div class="style_name-price ja_m">
                            レザードロストZIPブルゾン<br>
                            <span class="ja_b">
                                ¥12,100
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/289011/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            モールニットプルオーバー<br>
                            <span class="ja_b">
                                ¥4,950
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/289294/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            ムジガラシアータイトLS<br>
                            <span class="ja_b">
                                ¥4,400
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/291966/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            ノンアイロンワイドパンツ<br>
                            <span class="ja_b">
                                ¥6,600
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/242754/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            サッカーシューズ<br>
                            <span class="ja_b">
                                ¥6,290
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/284425/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>