<section class="style style_6" id="style_6">
    <div class="style_num en_m">
        <div class="style_numwrap">
            <span class="num_item ja_b">
                ITEM
            </span>
            <span class="number">
                06
            </span>
        </div>
    </div>
    <div class="num_line"></div>
    <div class="item_inner">
        <div class="item_bg">
            <img src="<%= rootURL %>/assets/img/bg_2.png" alt="">
        </div>
        <div class="itemph">
            <img src="<%= rootURL %>/assets/img/style_6.png" alt="">
        </div>
        <div class="item_detail">
            <p class="item_en_name ja_b">
                Asymmetry Frill Gather Blouse
            </p>
            <p class="item_ja_name ja_m">
                アシメフリルギャザーブラウス
            </p>
            <p class="item_price ja_b">
                ¥6,050
            </p>
            <div class="item_buy en_r">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
        <p class="item_txt ja_m">
            アシンメトリーなフリルがアクセントになった、前後2WAYで着られる華やかなブラウス。襟まわりはゴム仕様なので、オフショルダーやワンショルダートップスとしても活躍します。
        </p>

        <div class="styling style6-1">
            <div class="style_inner">
                <div class="stylenum stylenum1">
                    <img src="<%= rootURL %>/assets/img/num1.png" alt="">
                </div>
                <div class="styleph styleph6-1">
                    <img src="<%= rootURL %>/assets/img/style6-1.png" alt="">
                </div>
                <div class="pop_wrap">
                    <p class="style_pop style_pop1 ja_m">
                        <img src="<%= rootURL %>/assets/img/style_pop6-1.png" alt="">
                    </p>
                    <p class="style_pop style_pop2 ja_m">
                        <img src="<%= rootURL %>/assets/img/style_pop6-2.png" alt="">
                    </p>
                </div>
                <div class="style_line">
                    <img src="<%= rootURL %>/assets/img/line.png" alt="">
                </div>
                <ul class="style_info">
                    <li>
                        <div class="style_name-price ja_m">
                            アシメフリルギャザーブラウス<br>
                            <span class="ja_b">
                                ¥6,050
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/288147/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            CONEアシメタイトスカート<br>
                            <span class="ja_b">
                                ¥7,990
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/252608/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            EYEWEAR<br>
                            <span class="ja_b">
                                ¥3,300
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/128533/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            シアーチェックトートBAG<br>
                            <span class="ja_b">
                                ¥3,990
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/323505/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            サッカーシューズ<br>
                            <span class="ja_b">
                                ¥6,290
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/284425/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="styling style6-2">
            <div class="style_inner">
                <div class="stylenum stylenum2">
                    <img src="<%= rootURL %>/assets/img/num2.png" alt="">
                </div>
                <div class="styleph styleph6-2">
                    <img src="<%= rootURL %>/assets/img/style6-2.png" alt="">
                </div>
                <div class="pop_wrap">
                    <p class="style_pop style_pop1 ja_m">
                        <img src="<%= rootURL %>/assets/img/style_pop6-3.png" alt="">
                    </p>
                    <p class="style_pop style_pop2 ja_m">
                        <img src="<%= rootURL %>/assets/img/style_pop6-4.png" alt="">
                    </p>
                </div>
                <div class="style_line">
                    <img src="<%= rootURL %>/assets/img/line.png" alt="">
                </div>
                <ul class="style_info">
                    <li>
                        <div class="style_name-price ja_m">
                            アシメフリルギャザーブラウス<br>
                            <span class="ja_b">
                                ¥6,050
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/288147/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            コクーンタックボリュームパンツ<br>
                            <span class="ja_b">
                                ¥7,700
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/287446/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            カカンボウ<br>
                            <span class="ja_b">
                                ¥5,500
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/253108/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            ポインテッドナローサンダル<br>
                            <span class="ja_b">
                                ¥5,990
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/287486/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>