<section class="style style_1" id="style_1">
    <div class="style_num en_m">
        <div class="style_numwrap">
            <span class="num_item ja_b">
                ITEM
            </span>
            <span class="number">
                01
            </span>
        </div>
    </div>
    <div class="num_line"></div>
    <div class="item_inner">
        <div class="item_wrap">
            <div class="item_bg">
                <img src="<%= rootURL %>/assets/img/bg_1.png" alt="">
            </div>
            <div class="itemph">
                <img src="<%= rootURL %>/assets/img/style_1.png" alt="">
            </div>
            <div class="icon fadein">
                <img src="<%= rootURL %>/assets/img/icon_1.png" alt="">
            </div>
            <div class="item_detail fadein">
                <p class="item_en_name ja_b">
                    Washable Double Jacket
                </p>
                <p class="item_ja_name ja_m">
                    アラエルジャケット
                </p>
                <p class="item_price ja_b">
                    ¥8,800
                </p>
                <div class="item_buy en_r">
                    <a href="https://www.dot-st.com/lowrysfarm/disp/item/243336/" target="_blank">
                        BUY
                    </a>
                </div>
            </div>
            <p class="item_txt fadein ja_m">
                洗濯してもシワになりにくく、取り扱いが簡単なダブルジャケット。ざっくりと織り上げたホップサック生地はドライタッチな風合いで清涼感があり、暑い時期でもさらりと着こなせます。<br><span>※グリーンのみ4月上旬入荷予定</span>
            </p>
        </div>
        <div class="styling styling1 active style1-1">
            <div class="style_inner">
                <div class="stylenum stylenum1">
                    <img src="<%= rootURL %>/assets/img/num1.png" alt="">
                </div>
                <div class="styleph styleph1-1">
                    <img src="<%= rootURL %>/assets/img/style1-1.png" alt="">
                </div>
                
                <div class="pop_wrap">
                    <p class="style_pop style_pop1 ja_m">
                        <img src="<%= rootURL %>/assets/img/style_pop1-1.png" alt="">
                    </p>
                    <p class="style_pop style_pop2 ja_m">
                        <img src="<%= rootURL %>/assets/img/style_pop1-2.png" alt="">
                    </p>
                </div>
                <div class="style_line active">
                    <img src="<%= rootURL %>/assets/img/line.png" alt="">
                </div>
                <ul class="style_info fadein">
                    <li>
                        <div class="style_name-price ja_m">
                            アラエルジャケット<br>
                            <span class="ja_b">
                                ¥8,800
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/243336/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            サテンノースリーブ<br>
                            <span class="ja_b">
                                ¥5,500
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/291340/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            マクラメラップベルト<br>
                            <span class="ja_b">
                                ¥4,990
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/284590/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            ノンアイロンワイドパンツ<br>
                            <span class="ja_b">
                                ¥6,600
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/242754/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            カラビナネックレス  <br>
                            <span class="ja_b">
                                ¥1,690
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/326054/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            カラースニーカー<br>
                            <span class="ja_b">
                                ¥6,290
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/290260/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="styling styling2 active style1-2">
            <div class="style_inner">
                <div class="stylenum stylenum2">
                    <img src="<%= rootURL %>/assets/img/num2.png" alt="">
                </div>
                <div class="styleph styleph1-2">
                    <img src="<%= rootURL %>/assets/img/style1-2.png" alt="">
                </div>
                <div class="pop_wrap">
                    <p class="style_pop style_pop1">
                        <img src="<%= rootURL %>/assets/img/style_pop1-4.png" alt="">
                    </p>
                    <p class="style_pop style_pop2">
                        <img src="<%= rootURL %>/assets/img/style_pop1-3.png" alt="">
                    </p>
                </div>
                <div class="style_line active">
                    <img src="<%= rootURL %>/assets/img/line.png" alt="">
                </div>
                <ul class="style_info fadein">
                    <li>
                        <div class="style_name-price ja_m">
                            アラエルジャケット<br>
                            <span class="ja_b">
                                ¥8,800
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/243336/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            リンガーロゴTEE<br>
                            <span class="ja_b">
                                ¥3,960
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/288816/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            シワサテンナロースカート<br>
                            <span class="ja_b">
                                ¥6,600
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/291132/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            2SETショルダーBAG<br>
                            <span class="ja_b">
                                ¥5,500
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/284413/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            ラインソックス<br>
                            <span class="ja_b">
                                ¥880
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/136308/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            バレエスニーカー<br>
                            <span class="ja_b">
                                ¥7,190
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="https://www.dot-st.com/lowrysfarm/disp/item/140490/" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>