<section class="style style_7" id="style_7">
    <div class="style_num en_m">
        <div class="style_numwrap">
            <span class="num_item ja_b">
                ITEM
            </span>
            <span class="number">
                07
            </span>
        </div>
    </div>
    <div class="num_line"></div>
    <div class="item_inner">
        <div class="item_bg">
            <img src="<%= rootURL %>/assets/img/bg_1.png" alt="">
        </div>
        <div class="itemph">
            <img src="<%= rootURL %>/assets/img/style_7.png" alt="">
        </div>
        <div class="item_detail">
            <p class="item_en_name ja_b">
                Sheer Shirt LS
            </p>
            <p class="item_ja_name ja_m">
                シアーシャツLS
            </p>
            <p class="item_price ja_b">
                ¥7,700
            </p>
            <div class="item_buy en_r">
                <a href="" target="_blank">
                    BUY
                </a>
            </div>
        </div>
        <p class="item_txt ja_m">
            程よい透け感のあるシアー素材のベーシックなシャツ。滑らかな風合いでゆとりがあり、通気性も高いので快適に過ごせるアイテムです。クロップド丈と腰回りが隠れる丈の2サイズ展開。
        </p>

        <div class="styling style7-1">
            <div class="style_inner">
                <div class="stylenum stylenum1">
                    <img src="<%= rootURL %>/assets/img/num1.png" alt="">
                </div>
                <div class="styleph styleph7-1">
                    <img src="<%= rootURL %>/assets/img/style7-1.png" alt="">
                </div>
                <p class="style_pop style_pop1 ja_m">
                    セットアップスタイルは
                </p>
                <p class="style_pop style_pop2 ja_m">
                    ラップスカートで斬新に
                </p>
                <div class="style_line">
                    <img src="<%= rootURL %>/assets/img/line.png" alt="">
                </div>
                <ul class="style_info">
                    <li>
                        <div class="style_name-price ja_m">
                            アラエルジャケット<br>
                            <span class="ja_b">
                                ¥7,000
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            アラエルジャケット<br>
                            <span class="ja_b">
                                ¥7,000
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            アラエルジャケット<br>
                            <span class="ja_b">
                                ¥7,000
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            アラエルジャケット<br>
                            <span class="ja_b">
                                ¥7,000
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="styling style7-2">
            <div class="style_inner">
                <div class="stylenum stylenum2">
                    <img src="<%= rootURL %>/assets/img/num2.png" alt="">
                </div>
                <div class="styleph styleph7-2">
                    <img src="<%= rootURL %>/assets/img/style7-2.png" alt="">
                </div>
                <p class="style_pop style_pop1 ja_m">
                    セットアップスタイルは
                </p>
                <p class="style_pop style_pop2 ja_m">
                    ラップスカートで斬新に
                </p>
                <div class="style_line">
                    <img src="<%= rootURL %>/assets/img/line.png" alt="">
                </div>
                <ul class="style_info">
                    <li>
                        <div class="style_name-price ja_m">
                            アラエルジャケット<br>
                            <span class="ja_b">
                                ¥7,000
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            アラエルジャケット<br>
                            <span class="ja_b">
                                ¥7,000
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            アラエルジャケット<br>
                            <span class="ja_b">
                                ¥7,000
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="style_name-price ja_m">
                            アラエルジャケット<br>
                            <span class="ja_b">
                                ¥7,000
                            </span>
                        </div>
                        <div class="style_buy en_m">
                            <a href="" target="_blank">
                                BUY
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>