
    <div class="top_wrap">
        <div class="ttl_wrap">
            <span class="ttl_line">
                <img src="<%= rootURL %>/assets/img/ttl_line.png" alt="">
            </span>
            <div class="ttl_above">
                <div class="ttl_1 ja_m">
                    <span class="txt txt_1">春</span><span class="txt txt_2">の</span>
                </div>
                <div class="ttl_2">
                    <span class="txt txt_3"><img src="<%= rootURL %>/assets/img/ttl2.png" alt=""></span>
                </div>
            </div>
            <div class="ttl_3 ja_m">
                <span class="txt txt_4">ア</span><span class="txt txt_5">イ</span><span class="txt txt_6">テ</span><span class="txt txt_7">ム</span>
            </div>
            <span class="ttl_line">
                <img src="<%= rootURL %>/assets/img/ttl_line.png" alt="">
            </span>
        </div>

        <div class="seven_select">
            <div class="seven">
                <img src="<%= rootURL %>/assets/img/7.png" alt="">
            </div>
            <div class="select">
                <img src="<%= rootURL %>/assets/img/select.png" alt="">
            </div>
        </div>
    </div>
    <p class="subttl en_b">
        Find  My Favorite  <span class="en_m">for</span>  Spring
    </p>
    <div class="mv_circle">
        <img src="<%= rootURL %>/assets/img/top_bg.png" alt="">
    </div>
    <div class="mv_ph">
        <img src="<%= rootURL %>/assets/img/mv.png" alt="">
    </div>
    <div class="mv_txt">
        <p class="mvtxt_1">
            <img src="<%= rootURL %>/assets/img/mvtxt_1.png" alt="">
        </p>
        <p class="mvtxt_2">
            <img src="<%= rootURL %>/assets/img/mvtxt_2.png" alt="">
        </p>
    </div>
    
    <div class="scroll">
        <div class="scroll_bar"></div>
        <div class="scroll_txt">
            <img src="<%= rootURL %>/assets/img/scroll.png" alt="">
        </div>
    </div>


